div.block1{
	background-image: url("https://cdn.zeplin.io/57511c7203a09a95333aaa3e/assets/B96ED276-0FB4-4A43-A344-43EA0F425AAC.png" );
	height:584px;
	max-width:1440px;
	

	

	
}


div.upper{

  align-items: flex-start | flex-end | center | baseline | stretch;
	
height:63px;
}
button.one{
	width:78px;
	height:20px;
	font-family:Knockout-66FullFlyweight;
	font-size:15px;
	position:relative;
	left:690px;
	top:20px;
	text-align:center;
	color:white;
	overflow:hidden;
	font-weight: normal;
    font-style: normal;
    font-stretch: normal;
	background-color:transparent;
	outline-color:transparent;
	border:transparent;
}


button.two{

	width:127px;
	height:20px;
	font-family:Knockout-66FullFlyweight;
	font-size:15px;
	position:relative;
	left:693px;
	top:20px;
	text-align:center;
	color:white;
	overflow:hidden;
	font-weight: normal;
    font-style: normal;
    font-stretch: normal;
	background-color:transparent;
	outline-color:transparent;
	border:transparent;
}
	

button.three{
width:115px;
	height:20px;
	font-family:Knockout-66FullFlyweight;
	font-size:15px;
	position:relative;
	left:696px;
	top:20px;
	text-align:center;
	color:white;
	overflow:hidden;
	font-weight: normal;
    font-style: normal;
    font-stretch: normal;
	background-color:transparent;
	outline-color:transparent;
	border:transparent;	
}
button.four{
width:100px;
	height:20px;
	font-family:Knockout-66FullFlyweight;
	font-size:15px;
	position:relative;
	left:697px;
	top:20px;
	text-align:center;
	color:white;
	overflow:hidden;
	font-weight: normal;
    font-style: normal;
    font-stretch: normal;
	background-color:transparent;
	outline-color:transparent;
	border:transparent;	
}
button.five{
	width:50px;
	height:20px;
	font-family:Knockout-66FullFlyweight;
	font-size:15px;
	position:relative;
	left:698px;
	top:20px;
	text-align:center;
	color:white;
	overflow:hidden;
	font-weight: normal;
    font-style: normal;
    font-stretch: normal;
	background-color:transparent;
	outline-color:transparent;
	border:transparent;
}

	


p.middle1{
	padding-left:470px;
	padding-top:90px;
	padding-bottom:5px;
	margin-top:30px;
	margin-bottom:30px;
	width:550px;
    height:50px;
	font-size:70px;
	letter-spacing:-8px;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	color:#ffffff;
	
}
.r{
	color:red;
}
p.middle2{
	
  width: 830px;
  height: 48px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left:320px;
  font-size: 25px;
  letter-spacing:-1px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  text-align: center;
  color: #ffffff;
}
.re{
	color:red;
	text-decoration:underline;
}
p.middle3{
  width: 300px;
  height: 23px;
  padding-left:600px;
  margin-top:100px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.11;
  text-align: center;
  color: #ffffff;
  margin-bottom:5px;
}
button.middle4{
	
  width: 149px;
  height: 49px;
  border: solid 2px #ffffff;
  background-color:transparent;
  color:white;
  margin-left:670px;
}
p.middle5{
	
  width: 160px;
  height: 20x;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 16px;
  padding-left:670px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  text-align: center;
  color: #ffffff;
  margin-top:5px;
}
.upper2{
	width:1440px;
}
.block2{
	width:1440px;
	height:603px;
  margin-left:240px;

  
}
.midblock1{
	background-image:url("https://cdn.zeplin.io/57511c7203a09a95333aaa3e/assets/B7220179-16B0-4DDB-8A14-AA61657C0D97.png");
	width:500px;
	float:left;
	margin-right:50px;
}
.midblock2{
height:70px;
width:1050px;
	
}
p.middle6{
  width: 305px;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top:35px;
  font-size: 35px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.7px;
  color: #ffffff;
  padding-left:40px;
  margin-bottom:18px;
}
.line{
  width: 134px;
  height: -0.1px;
  margin-left: 42px;
  border: solid 2px #ff291c;

}
.middle7{
  width: 145px;
  height: 64px;
  font-family: knockout-29JuniorLtweight,sans-serif;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.9px;
  padding-left:35px;
  margin-top:30px;
  margin-bottom:8px;
  text-align:left;
  color: #ffffff;
}
.middle8{
 width: 145px;
  height: 64px;
  font-family: knockout-29JuniorLtweight,sans-serif;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.9px;
  padding-left:35px;
  margin-top:5px;
  margin-bottom:8px;
  text-align:left;
  color: #ffffff;
}
.middle9{
  width: 145px;
  height: 64px;
  font-family: knockout-29JuniorLtweight,sans-serif;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.9px;
  padding-left:40px;
  margin-top:5px;
  margin-bottom:8px;
  text-align:left;
  color: #ffffff;
}
.middle10{
  width: 145px;
  height: 64px;
  font-family: knockout-29JuniorLtweight,sans-serif;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.9px;
  padding-left:40px;
  margin-top:5px;
  margin-bottom:8px;
  text-align:left;
  color: #ffffff;
}
.middle11{
 width: 145px;
  height: 64px;
  font-family: knockout-29JuniorLtweight,sans-serif;
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.9px;
  padding-left:35px;
  margin-top:5px;
  margin-bottom:8px;
  text-align:left;
  color: #ffffff;
}
.s{
	  width: 89px;
  height: 24px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  padding-left:10px;
  color: #ffffff;
}
.se{ width: 89px;
  height: 24px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 24px;
  font-weight: normal;
  padding-left:10px;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  color: #ffffff;}
.t{ width: 89px;
  height: 24px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  padding-left:10px;
  color: #ffffff;}
.te{ width: 89px;
  height: 24px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  padding-left:10px;
  color: #ffffff;}
.u{ width: 89px;
  height: 24px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 24px;
  padding-left:10px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.3px;
  color: #ffffff;}
.ue{
  width: 146px;
  height: 74px;
  font-family:Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 27px;
  font-weight: normal;
 

letter-spacing:-2px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  text-align: left;
  color: #000000;
  color: black;
}
.v{
	width: 146px;
  height: 74px;
  font-family:Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 50px;
  font-weight: normal;
  letter-spacing:-6px;

  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  text-align: left;
  color: #000000;
  color: black;
 
}
.ve{
  width: 400px;
  height: 500px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  color: black;

}
.z{
	text-decoration:underline;
	color:red;
}
.block3{
	height:603px;
  background-color:black;
  width:1440px;

  
}
.blocks{
	width:1100px;
	height:603px;
  margin-left:240px;
  margin-bottom:10px;

}
.midblock3{
	width:500px;
	float:left;
	margin-left:0.1px;
	margin-right:50px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 27px;
 
margin-top:40px;
  color: #ffffff;
text-align:left;
}
.midblock4{
height:70px;
width:1050px;
padding-top:40px;

}
.a{
	font-size:32px;
	letter-spacing:-2px;
}
.as{
	
  width: 340px;
  height: 352px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  text-align: left;
  color: #ffffff;
	
}



.ce{
 
   width: 146px;
  height: 60px;
  font-family:Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 27px;
  font-weight: normal;
letter-spacing:-2px;
  font-style: normal;
  font-stretch: normal;
  
  text-align: left;
  color: white;
}
.c{
font-size:32px;
	letter-spacing:-2px;
color:white;

font-family:knockout-29JuniorLtweight,sans-serif;	
}
.cs{
 width: 380px;
  height: 360px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  text-align: left;
  color: white;
	
}
.d{
	color:red;
}
.block4{
	height:403px;
  width:1440px;
}
.midblock5{
	width:735px;
	height:403px;
	float:left;
background-image:url("https://cdn.zeplin.io/57511c7203a09a95333aaa3e/assets/AA375C55-2EF9-4995-B39B-6C0CD5B91832.png");
-moz-background-size:100% 100%;
-webkit-background-size:100% 100%;
background-size:100% 100%;
margin-right:60px;

}
.midblock6{
	height:70px;
width:1200px;
padding-top:40px;
font-size:33px;
text-align:left;
font-family:knockout-29JuniorLtweight,sans-serif;
line-height:0.9;}
.e{
	font-size:58px;
	letter-spacing:-4px;
	

}
.p1{
	font-size:23px;
	width:1200px;
font-family:knockout-29JuniorLtweight;
text-align: -webkit-match-parent;}

.block5{
	height:850px;
    width:1440px;
}
.blocks1{
	width:900px;
	height:850px;
  margin-left:240px;
  margin-bottom:10px;
}
.midblock7{
	width:500px;
	float:left;
	margin-left:0.1px;
	margin-right:60px;
  font-family: Knockout-31JuniorMiddlewt,sans-serif;
  font-size: 27px;
margin-top:70px;
text-align:left;
height:810px;
}
.f{
	font-size:50px;
	letter-spacing:-4px;
	
}
.g{
	font-size:18px;
	font-family:knockout-29JuniorLtweight,sans-serif;
}
.midblock8{
	height:850px;
width:900px;
padding-top:70px;
font-size:27px;
text-align:left;
font-family:knockout-29JuniorLtweight,sans-serif;

}
.h{
	font-size:60px;
	letter-spacing:-7px;
	line-height:0.9;
}
.i{
	font-size:22px;
	width:1050px;
font-family:knockout-29JuniorLtweight,sans-serif;

line-height:1.4;
}

.block6{
	height:650px;
    width:1440px;
  background-color: black;
}
.midblock9{
	font-size:27px;
	padding-top:30px;
	color:white;
	margin-left:240px;
	text-align:left;
	width:740px;
	font-family:knockout-29JuniorLtweight,sans-serif;
	margin-bottom:5px;
}
.j{
	font-size:45px;
	letter-spacing:-4px;
}
.k{
    list-style-type: none;
    margin-left: 240px;
	width:1060px;
    padding: 0;
    overflow: hidden;
	color:white;
  
}

.l{
	width:300px;
    float: left;
 padding: 15px;
 text-align:left;
 font-family:knockout-29JuniorLtweight,sans-serif;
 font-size:18px;
}
.m{
   list-style-type: none;
    margin-left: 240px;
	width:1060px;
    padding: 0;
    overflow: hidden;
	color:#ffffff;
  
}
.block7{
		height:400px;
    width:1230px;
	margin-left:215px;
}
.midblock10{
  width: 150px;
  height: 273.4px;
  background-color: #000000;
  margin-top:25px;
  font-family: HelveticaNeue,sans-serif;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: condensed;
  color: #9b9b9b;
  padding-top:26px;
  padding-left:26px;
  line-height:0.9;
}
.q{
	font-size:60px;
	font-weight:normal;
	font-family:HelveticaNeue;
}
.pre{
	color:white;
	font-size:20px;
	font-weight:bold;
	font-family:knockout-29JuniorLtweight,sans-serif;
}  
.p{
	list-style-type: none;
	padding:10px;
	float:left;
}
.block8{
	width:1440px;
  height: 278px;
  background-image:url("https://cdn.zeplin.io/57511c7203a09a95333aaa3e/assets/5A4C25AA-1D27-4A31-8B3F-5FC110126468.png");
}
.midblock11{
	float:left;
}
.thi{
	width:1200px;
	text-align:left;
	padding-top:57px;
	font-family:knockout-29JuniorLtweight,sans-serif;
	font-size:15px;
}
.line2{
  border: solid 2px #ff291c;
	width:115px;
	margin-left:3px;
}